h1{
    color: rgb(219, 172, 16);
    font-family: Verdana;
}

p{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

b{
    color: rgb(67, 21, 236);
}

i{
background-color: rgb(166, 218, 35);
}